{% extends "base.html" %}
{% block content %}
<div>
  <form method="post">{{csrf_input}}
    <fieldset>
      <h1>Please provide any other feedback</h1>
      <p>This feedback will not be linked to your other responses.</p>
      <p>You may optionally enter your email if you wish to be contacted about your feedback.</p>
      {% for error in form.email.errors %}
        <p class="help-block">{{ error }}</p>
      {% endfor %}
      <label class="label">Email: </label>
      <input type="text" name="email">
      <br>
      <label class="label">Feedback: </label>
      <textarea rows="4" name="content"></textarea>
      <br> 
      <input type="submit" value="Submit feedback" name="next">
    </fieldset>
  </form>
</div>
{% endblock %}
