{% extends "base.html" %}
{% block content %}
<div class="form-container">
  <h1 class="form-title">Where are you based?</h1>
  <form method="post" class="custom-form">{{csrf_input}}
    <fieldset class="custom-fieldset">
      <div class="radio-group">
        {% for location in locations %}
          <label class="radio-label">
            <input type="radio" name="location" value="{{ location }}" {% if location == chosen_location %}checked{% endif %}>
            {{ location }}
          </label>
        {% endfor %}
      </div>
      <input type="submit" value="Save and Next" class="submit-btn">
    </fieldset>
  </form>
</div>
{% endblock %}
