{% extends "base.html" %}
{% block content %}
<div>
  <h1>Where are you based?</h1>
</div>
<div>
  <form method="post">{{csrf_input}}
    <fieldset>
      <div class="radio">
        {% for location in locations %}
          {% if location == chosen_location %}
            <input type="radio" name="location" value="{{ location }}" selected="selected">{{ location }}<br>  
          {% else %}
            <input type="radio" name="location" value="{{ location }}">{{ location }}<br>
          {% endif %}
        {% endfor %}
      </div>
      <input type="submit" value="Save and next" name="next">
    </fieldset>
  </form>
</div>
{% endblock %}
