{% extends "base.html" %}
{% block content %}
<div class="form-container">
  <h1 class="form-title">Which team are you in?</h1>
  <form method="post" class="custom-form">{{ csrf_input }}
    <fieldset class="custom-fieldset">
      <div class="radio-group">
        {% for team in teams %}
          <label class="radio-label">
            <input type="radio" name="team" value="{{ team }}" {% if team == chosen_team %}checked{% endif %}>
            {{ team }}
          </label>
        {% endfor %}
      </div>
      <input type="submit" value="Save and Next" class="submit-btn" name="next">
    </fieldset>
  </form>
</div>
{% endblock %}
