{% extends "base.html" %}
{% block content %}
<div>
  <form method="post">{{csrf_input}}
    <fieldset>
      <h1>I have a clear understanding of my organisation's objectives</h1>
      <div class="radio">
        {% for answer in answers %}
          {% if answer == chosen_answer %}
            <input type="radio" name="q2" value="{{ answer }}" selected="selected">{{ answer }}<br>  
          {% else %}
            <input type="radio" name="q2" value="{{ answer }}">{{ answer }}<br>
          {% endif %}
        {% endfor %}
      </div>
      <input type="submit" value="Next question" name="next">
    </fieldset>
  </form>
</div>
{% endblock %}
