{% extends "base.html" %}
{% block content %}
<div>
  <h1>There are opportunities for me to develop my career in my organisation</h1>
</div>
<div>
  <form method="post">{{csrf_input}}
    <fieldset>
      <div class="radio">
        {% for answer in answers %}
          {% if answer == chosen_answer %}
            <input type="radio" name="q1" value="{{ answer }}" selected="selected">{{ answer }}<br>  
          {% else %}
            <input type="radio" name="q1" value="{{ answer }}">{{ answer }}<br>
          {% endif %}
        {% endfor %}
      </div>
      <input type="submit" value="Save and next" name="next">
    </fieldset>
  </form>
</div>
{% endblock %}
