name: GitHub checks

on:
  push:
    - "**"

jobs:
  check_web:
    name: Check Python

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8

    - name: Install Dependencies
      run: |
        python3 -m pip install --upgrade pip setuptools
        pip install -r requirements.lock